*.class

# Package Files #
*.jar
*.war
*.ear
#folders
ViewSheildBasicData/.gradle/
ViewSheildBasicData/build/
ViewSheildBasicData/.settings/
ViewSheildBasicData/bin/
ViewSheildBasicData/.classpath
#package exclusion
.package
