.project
*.class
# Package Files #
*.jar
*.war
*.ear
#folders
ViewSheildBasicData/.gradle/
ViewSheildBasicData/build/
ViewSheildBasicData/.settings/
ViewSheildBasicData/bin/
ViewSheildBasicData/.classpath
StubForXmlRPCShield/.gradle/
StubForXmlRPCShield/build/
StubForXmlRPCShield/.settings/
StubForXmlRPCShield/bin/
StubForXmlRPCShield/.classpath
#package exclusion
.package
